<div class="table-responsive">
    <p class="pull-right" title="Add" ui-sref="app.invoice.add">
        <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
    </p>
    <table class="table table-bordred table-striped">
        <thead>
        <th>Customer Name</th>
        <th>Discount</th>
        <th>Total</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in vm.invoices">
            <td>{{invoice.customer_name}}</td>
            <td>{{invoice.discount}}%</td>
            <td>{{invoice.total}}</td>
            <td>
                <p title="Edit">
                    <a class="btn btn-primary btn-xs" ui-sref="app.invoice.edit({id:invoice.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </p>
            </td>
            <td>
                <p title="Delete">
                    <button class="btn btn-danger btn-xs" ng-click="vm.deleteinvoice(invoice);"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>