<div class="table-responsive">
    <p class="pull-right" title="Add" ui-sref="app.customer.add">
        <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
    </p>
    <table class="table table-bordred table-striped">
        <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <tr ng-repeat="customer in vm.customers">
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone}}</td>
            <td>
                <p title="Edit">
                    <a class="btn btn-primary btn-xs" ui-sref="app.customer.edit({id:customer.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </p>
            </td>
            <td>
                <p title="Delete">
                    <button class="btn btn-danger btn-xs" ng-click="vm.deleteCustomer(customer);"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>